.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.item{
  &__name{
    font-weight: 500;
    margin: 0;
    font-size: 13px;
  }
  &__amount{
    font-size: 14px;
    color: rgba(black, 0.6);
    margin: 0;
  }
}
