<div class="container">
  <div class="grid">
    <mat-card class="item">
      <img src="https://placehold.it/400x300" alt="" matCardImage>
      <h2 class="item__name">商品名</h2>
      <p class="item__amount">{{4000 | number}} 円</p>
    </mat-card>
    <mat-card class="item">
      <img src="https://placehold.it/400x300" alt="" matCardImage>
      <h2 class="item__name">商品名</h2>
      <p class="item__amount">{{4000 | number}} 円</p>
    </mat-card>
    <mat-card class="item">
      <img src="https://placehold.it/400x300" alt="" matCardImage>
      <h2 class="item__name">商品名</h2>
      <p class="item__amount">{{4000 | number}} 円</p>
    </mat-card>
    <mat-card class="item">
      <img src="https://placehold.it/400x300" alt="" matCardImage>
      <h2 class="item__name">商品名</h2>
      <p class="item__amount">{{4000 | number}} 円</p>
    </mat-card>
  </div>
</div>
